<!-- <app-product-add-component></app-product-add-component>

<div style="margin: 10px; display: flex; justify-content: space-between;">
    <div style="align-content: center; flex: 1; font-size: 30px; font-weight: bold;">
      List of Products ({{ product.length }})
    </div>
  </div>
  
  <div [ngClass]="product.length ? 'table-container' : 'not-found'" class="table-container" style="border: 0px solid black;">
    <img *ngIf="!product.length" id="nothing" src="../../assets/nothing.png" width="400" height="400"/>
    <div *ngIf="!product.length">No Records Found</div>
  
    <table id="product" class="flex-table">
      <thead *ngIf="product.length" style="position: sticky; top: 0px; background-color: white; z-index: 1;">
        <tr style="background-color: #9f9f9f;">
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Manufactured Date</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of product" (click)="viewProductDetails(p.productId)">
          <td>{{ p.productId }}</td>
          <td>{{ p.productName }}</td>
          <td>{{ p.manufacturedDate | date:'medium' }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>
   -->


<!-- <div style="margin: 10px; display: flex; justify-content: space-between;">
    
    <div style="align-content: center; flex: 1; font-size: 30px; font-weight: bold;">
      List of Products ({{ product.length }}) 
      <button (click)="openAddProductDialog()">Add Product</button>
    </div>
  </div> -->

  <div class="product-header">
    <div class="product-header-text">
      List of Products -{{ product1.length }}
    </div>
    <button class="product-header-button" (click)="openAddProductDialog()">Add Product</button>
    <button class="generatePDF" (click)="generatePDF()">Generate PDF</button>
    <button class="generateExcel" (click)="generateExcel('product','products')">Generate Excel</button>

  </div>
  
  <div [ngClass]="product1.length ? 'table-container' : 'not-found'" class="table-container" style="border: 0px solid black;">
    <img *ngIf="!product1.length" id="nothing" src="../../assets/nothing.png" width="400" height="400"/>
    <div *ngIf="!product1.length">No Records Found</div>
  
    <table id="product" #product class="flex-table">
      <thead *ngIf="product1.length" style="position: sticky; top: 0px; background-color: white; z-index: 1;">
        <tr style="background-color: #9f9f9f;">
          <th>Product Id</th>
          <th>Product Name</th>
          <th>Manufactured Date</th>
          <th>Description</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of product1" (click)="openProductDetailsModal(p)">
          <td>{{ p.productId }}</td>
          <td>{{ p.productName }}</td>
          <td>{{ p.manufacturedDate | date }}</td>
          <td>{{ p.description }}</td>
          <td>{{ p.price }}</td>
        </tr>
      </tbody>
    </table>


  </div>
