/* Style for the modal container */
.modal-container {
  width: 500px;
  height: 400px;
  margin: auto;
  padding: 20px;
  background-color: rgb(229, 218, 238);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999; /* Ensure the modal is on top of other content */
  overflow: hidden; /* Prevent scrolling */
}

/* Style for form labels */
.modal-container label {
  display: block;
  margin-bottom: 10px; /* Increased margin for more spacing */
  font-weight: bold;
  color: black;
}

/* Style for form inputs */
.modal-container input,
.modal-container textarea {
  width: calc(100% - 24px); /* Increased width with extra spacing */
  padding: 10px; /* Increased padding for better appearance */
  margin-bottom: 20px; /* Increased margin for more spacing */
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Style for submit button */
.modal-container button {
  display: block; /* Ensures the button occupies full width */
  margin: 0 auto; /* Centers the button horizontally */
  padding: 12px 24px; /* Increased padding for better appearance */
  background-color: hsl(24, 86%, 56%);
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Style for disabled submit button */
.modal-container button[disabled] {
  background-color: rgba(139, 145, 105, 0.425);
  cursor: not-allowed;
}
